.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #1a202c;
  color: #333;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 3px solid #261e7f;
  max-width: 600px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: aqua;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
}

.selectedCountries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}

.selectedCountry {
  background-color: #2d3748;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.selectedCountry button {
  background-color: transparent;
  color: white;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.button {
  background-color: #4a5568;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover {
  background-color: #2d3748;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: #1F1C2C;
  background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);
  background: linear-gradient(to right, #928DAB, #1F1C2C);
  color: #1a2c24;
  margin-top: 5px;
  max-width: 200px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #4a5568;
  margin-top: -8px;
}

input[type='range']::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #4a5568;
  margin-top: -8px;
}

input[type='range']::-ms-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #4a5568;
  margin-top: -8px;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  background-color: #cbd5e0;
  border-radius: 10px;
}

input[type='range']::-moz-range-track {
  height: 10px;
  background-color: #cbd5e0;
  border-radius: 10px;
}

input[type='range']::-ms-track {
  height: 10px;
  background-color: #cbd5e0;
  border-radius: 10px;
}

input[type='range']::-ms-fill-lower {
  background-color: #cbd5e0;
  border-radius: 10px;
}

input[type='range']::-ms-fill-upper {
  background-color: #cbd5e0;
  border-radius: 10px;
}

input[type='range']::-moz-range-progress {
  height: 10px;
  background-color: #4a5568;
  border-radius: 10px;
}

input[type='range']::-webkit-progress-value {
  height: 10px;
  background-color: #4a5568;
  border-radius: 10px;
}

input[type='range']::-moz-progress-bar {
  height: 10px;
  background-color: #4a5568;
  border-radius: 10px;
}